<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddMovie</servlet-name>
        <servlet-class>moviePack.AddMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMovie</servlet-name>
        <servlet-class>moviePack.DeleteMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMovie</servlet-name>
        <servlet-class>moviePack.SearchMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMovie</servlet-name>
        <servlet-class>moviePack.ViewMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMovieFE</servlet-name>
        <servlet-class>moviePack.UpdateMovieFE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMovieBE</servlet-name>
        <servlet-class>moviePack.UpdateMovieBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageFe</servlet-name>
        <servlet-class>moviePack.ImageFe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHome</servlet-name>
        <servlet-class>moviePack.UserHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usersearch</servlet-name>
        <servlet-class>moviePack.Usersearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchs</servlet-name>
        <servlet-class>moviePack.UserSearchs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearch2</servlet-name>
        <servlet-class>moviePack.UserSearch2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchR</servlet-name>
        <servlet-class>moviePack.UserSearchR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>moviePack.SearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignUp</servlet-name>
        <servlet-class>moviePack.UserSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>moviePack.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchmoviez</servlet-name>
        <servlet-class>moviePack.UserSearchmoviez</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>moviePack.LogIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMovie</servlet-name>
        <url-pattern>/AddMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMovie</servlet-name>
        <url-pattern>/DeleteMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMovie</servlet-name>
        <url-pattern>/SearchMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMovie</servlet-name>
        <url-pattern>/ViewMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMovieFE</servlet-name>
        <url-pattern>/UpdateMovieFE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMovieBE</servlet-name>
        <url-pattern>/UpdateMovieBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageFe</servlet-name>
        <url-pattern>/ImageFe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHome</servlet-name>
        <url-pattern>/UserHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usersearch</servlet-name>
        <url-pattern>/Usersearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchs</servlet-name>
        <url-pattern>/UserSearchs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearch2</servlet-name>
        <url-pattern>/UserSearch2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchR</servlet-name>
        <url-pattern>/UserSearchR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/SearchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignUp</servlet-name>
        <url-pattern>/UserSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchmoviez</servlet-name>
        <url-pattern>/UserSearchmoviez</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
