/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 Jul, 2023, 7:17:46 AM
    Author     : vishnuprakash.p
*/
  .form-group {
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 10px;
      border-radius: 5px;
    }
  

